*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Pale-blue: rgb(224, 232, 255);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --white: hsl(0, 0%, 100%);
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background: url(images/pattern-background-desktop.svg), url(images/pattern-background-mobile.svg), var(--Pale-blue);
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
   max-width: 350px;
   border-radius:  15px;
   overflow: hidden;
   text-align: center;  
}

.upper-card{
    height: 100px;
    width: 100px;
    background-size: cover;
}

.lower-card{
    background-color: var(--white);
    height: 370px;
    width: 350px;
    margin-top: 100px;
}

.title-card{
    font-weight: 900;
    color: var(--Dark-blue);
    padding: 35px 0px 15px 0px;   
}

.content-card{
    font-size: 16px;
    color: var(--Desaturated-blue);
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}

.price-card{
    border-radius: 10px;
    background-color: var(--Very-pale-blue);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 15px;
    margin: 10px 30px 20px 30px ;    
}

span{
    display: block;    
}

.plan{
    color: var(--Dark-blue);
    font-weight: 900;
}

.year{
    color: var(--Desaturated-blue);
    font-size: 13px;
    font-weight: 900;
}
.price-card a{
    cursor: pointer; 
    font-weight: 700;  
}
.price-card a:active{
    color: var(--Dark-blue);
}

button{
    background-color: var(--Bright-blue);
    color: var(--white);
    padding: 10px;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    text-align: center;
    width: 80%;
    font-weight: 900;
    box-shadow: 0px 20px 15px rgba(224, 232, 255, 1);   
}
button:active{
    color: var(--Desaturated-blue);
}

.order{
    color: var(--Desaturated-blue);
    font-size: 13px;
    font-weight: 900;
    padding: 20px 0px 10px 0px;
}
.attribution{ 
    font-size: 11px; 
    text-align: center; 
}
.attribution a{ 
    color: hsl(228, 45%, 44%); 
}
